<% include partials/header %>


<form action="/campsites" method="POST">
    <input name="name" type="text"></input>
    <button placeholder="moviename" type="submit">
        Submit
    </button>
</form>

<% include partials/footer %>