<% include partials/header %>

<h1>
    Welcome to the Yelpcamp
</h1>
<a href="/campsites" class="btn btn-info">
    movies
</a>
<a href="/campsites/new" class="btn btn-primary">
    Add new
</a>
<% include partials/footer %>