<% include partials/header %>

<h1>Welcome to the Yelpcamp</h1>
<a href="/movies" class="btn btn-info"> movies </a>
<a href="/movies/new" class="btn btn-primary"> Add new </a> <% include
partials/footer %>
